@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Quicksand:wght@700&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {

    background-color: #F9FAFB;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
  background-color: #90D092;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 182 px;
  height: 100px;

}

header span {
    font-size: 33px;

}

nav a{
    text-decoration: none;

}

nav img {
  cursor: pointer;
}

footer{
    background-color: #e7e7e7;
    text-align: center;
    font-size: 16px;
    padding: 15.25px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


.write-logo {
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #353333;
    margin-top: 10px;
}
.logo-icon{
    padding-left: 19px;

}

.logo-container{
    display: flex;
    column-gap: 4px;

}
.perfil-photo{
    padding-right: 15px;

}
.logo-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center; 
}

/* --- Form Style --- */

.form-page-cidadao-container{
    max-width: 800px;
    margin: 60px auto;
}

.form-page-cidadao-container h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;

}

.form-container{
    padding: 24px 40px;
    border-radius: 12px;
    box-shadow: 0px 6px 6px 0px #00000040;
    background-color: #e7e7e7;

}



.form-cidadao-grupo{

    margin-bottom: 22px;
    display: flex;
    flex-direction: column;    

}


.form-cidadao-grupo label {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333333;
}

.form-cidadao-grupo select, 
.form-cidadao-grupo textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #e8eaed;
    border-radius: 12px;
    font-size: 14px;
    color: #333;
    font-family: inherit;
}

.form-cidadao-grupo input {
    width: 100%;
    padding: 10px;
    border: 2px solid #d0d0d0;
    border-radius: 8px;
    font-size: 14px;
    font-family: inherit;
    transition: all 0.2s ease-in-out;
    background-color: #ffffff;
}


.btn-login{
    width: 100%;
    padding: 10px;
    background-color: #90D092;
    border: none;
    border-radius: 10px;
    font-size: 19px;
    cursor: pointer;
    margin-top: 10px;
}
.forgot{
    text-align: center;
    margin-top: 15px;
    font-size: 16px;

}