@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Quicksand:wght@700&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {

    background-color: #F9FAFB;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
  background-color: #90D092;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 182 px;
  height: 100px;

}

header span {
    font-size: 33px;

}

nav a{
    text-decoration: none;

}

nav img {
  cursor: pointer;
}

footer{
    background-color: #e7e7e7;
    text-align: center;
    font-size: 16px;
    padding: 15.25px;
}


.write-logo {
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #353333;
    margin-top: 10px;
}
.logo-icon{
    padding-left: 19px;

}

.logo-container{
    display: flex;
    column-gap: 4px;

}
.perfil-photo{
    padding-right: 15px;

}
.logo-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center; 
}