{% extends "layout.html" %}

{%block title%}Urbanweb  &ndash; adicionar denuncia{%endblock%}

{%block head_extra%}
<script src="{{url_for('static', filename='js/form.js')}}" defer></script>
<link rel="stylesheet" href="{{url_for('static',filename='css/cabecRodape.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/pag-denuncia.css')}}">   
{%endblock%}


{%block content%}
 <div class="denuncia-container">
        <h2 id="title-container">Relate um problema</h2>

        <form id="report-form" action="{{url_for('send_report')}}" method="POST" enctype="multipart/form-data">

            <div class="arquivos-localizacao">
                
                <div class="form-group">
                    <label for="foto">Foto/Vídeo</label>
                    <input type="file" id="foto" name="foto" accept="image/*,video/*" required>
                </div>
            
                <div class="form-group">
                    <label>Localização Atual</label>
                    <button type="button" class="botao-localizacao" id="actual-location">Utilizar minha localização atual</button>
                </div>

                <div class="form-group">
                    <label for="outra-localizacao">Outra Localização:</label>
                <textarea id="address" name="address" rows="1" placeholder="Digite o endereço completo"></textarea>
                 <p id="address-alert" style="display: none; color: red; font-size: small;">Endereço inválido! Por favor, insira um endereço válido</p>
                </div>

            </div>

            <div class="problemas">
                <h3>Tipo de problema</h3>

                <div class="problemas-urbanos">
                    <div>
                        <button type="button" class="button-urbano">Problema Urbano</button>
                    </div>
                    
                    <div class="options-urbano">

                        <input type="radio" id="lixo" name="tipo-urbano" value="Lixo/entulho">
                        <label for="lixo">Lixo/entulho</label>
                        
                        <input type="radio" id="iluminacao" name="tipo-urbano" value="IluminaçãoUrbana">
                        <label for="iluminacao">Iluminação</label>

                        <input type="radio" id="agua" name="tipo-urbano" value="Água/esgoto">
                        <label for="agua">Água/esgoto</label>

                        <input type="radio" id="estradas" name="tipo-urbano" value="Estradas/buracos">
                        <label for="estradas">Estradas/buracos</label>

                        <input type="radio" id="Urban-Outros" name="tipo-urbano" value="Outros">
                        <label for="Urban-Outros">Outros</label>
                        <input type="text" id="urban-specify" name="urban-specify" placeholder="Especifique" style="display: none;">

                    </div>
                </div>

                <div class="problemas-escolar">
                    <button type="button" class="button-escolar">Problema Escolar</button>

                    <div class="options-escolar">

                        <input type="radio" id="iluminacao-escolar" name="tipo-escolar" value="IluminaçãoEscolar">
                        <label for="iluminacao-escolar">Iluminação</label>

                        <input type="radio" id="agua-escolar" name="tipo-escolar" value="Água/EsgotoEscolar">
                        <label for="agua-escolar">Água/esgoto</label>

                        <input type="radio" id="infraestrutura" name="tipo-escolar" value="Infraestrutura">
                        <label for="infraestrutura">Infraestrutura</label>

                        <input type="radio" id="area-externa" name="tipo-escolar" value="ÁreaExterna">
                        <label for="area-externa">Área Externa</label>      

                        <input type="radio" id="School-Outros" name="tipo-escolar" value="Outros">
                        <label for="School-Outros">Outros</label>
                        <input type="text" id="school-specify" name="school-specify" placeholder="Especifique" style="display: none;">

                    </div>  
                </div>
            </div>

            <div class="quase-enviar">

                <div class="description">
                    <textarea id="descricao" name="descricao" placeholder="Descreva o seu problema aqui (seja específico)" required></textarea>
                </div>


                <div class="quase-envio">
                    <label id="label-cpf" for="cpf">CPF:</label>
                    <div class="envio">
                        <div class="ultimos-dados">
                            <input id="cpf" name="cpf" inputmode="numeric" maxlength="14" placeholder="000.000.000-00" required/>
                            <p id="cpf-alert" style="display: none; color:red;">CPF inválido. Por favor, verifique os números digitados</p>
                        </div>

                        <div class="anomimo">
                            <input type="checkbox" id="checkbox">
                            <label id="label-check" for="checkbox">Denúncia anônima</label> 
                        </div>
                    </div>
                        <div class="enviar">
                            <button id="submit-denuncia" type="submit">ENVIAR DENÚNCIA</button>
                        </div>
                </div>
            </div>
            </div>
                <!-- Inputs de tipo hidden: -->
<input type="hidden" id="latitude" name="latitude">
<input type="hidden" name="longitude" id="longitude">
<input type="hidden" id="type" name="type" required>
        </form>
      </div>    
{%endblock%}
